.v-app-bar {
  border-color: rgb(var(--v-theme-primary)) !important;
}

.video-placeholder {
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.iframe-video {
  border: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}