.v-app-bar {
  border-color: rgb(var(--v-theme-primary)) !important;
}

.state-emoji {
  font-size: clamp(4rem, 8vw, 5rem); /* Use the preferred 8vw when possible, but do not go below the minimum 4rem and never exceed the maximum 5rem. */
  line-height: 1; /* Set the line height to be equal to the font size, removing any unnecessary vertical spacing. */
}

.state-heading {
  font-size: clamp(1.8rem, 5vw, 2.25rem);
  line-height: 1;
}

.pending-recipes-page {
    max-width: 1100px;
}